<!-- Brands starts starts -->
<div class="brand-section mt-md-5">
  <div class="brand-container">
    <div class="brand-row container">
      <swiper-container
        class="row align-items-center mySwiper"
        slides-per-view="5"
        space-between="30"
        speed="2000"
        loop="true"
        autoplay="true"
        navigation="false"
        pagination="false"
        scrollbar="false"
      >
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand1.png" />
          </div>
        </swiper-slide>

        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand2.png" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand3.png" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand4.webp" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand5.png" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand1.png" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand2.png" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand3.png" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand4.webp" />
          </div>
        </swiper-slide>
        <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
          ><div class="inner-brand">
            <img src="assets/brand5.png" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>

<!-- Brands starts ends -->
