/* Brand section starts */

.brand-section .row {
    justify-content: space-between;
}

.logo-slider {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .carousel .slide img {
    width: 100%;
    height: auto;
    display: block;
  }
@media(min-width:768px)
{
.brand-col {
    max-width: 20%;
    text-align: center;
    margin: 0 auto;
}
}
.brand-section .row img {
    width: 100%;
    max-width: 240px;
}
/* Brand section ends */





