<!-- Brands starts starts -->
<div class="brand-section mt-md-5">
    <div class="container">
        
        <div class="row align-items-center">
            <div class="col-6 col-md-2 col-lg-2 brand-col">
                <img src="assets/brand1.png">
            </div>
  
            <div class="col-6 col-md-2 col-lg-2 brand-col">
                <img src="assets/brand2.png">
            </div>
  
            <div class="col-6 col-md-2 col-lg-2 brand-col">
                <img src="assets/brand3.png">
            </div>
  
            <div class="col-6 col-md-2 col-lg-2 brand-col">
                <img src="assets/brand4.webp">
            </div>
  
            <div class="col-6 col-md-2 col-lg-2 brand-col">
                <img src="assets/brand5.png">
            </div>
        </div>
    </div>
  </div>


    <!-- Brands starts ends -->