<div class="container py-3">
    <div class="row">
        <div class="col-12 col-md-9 text-center">
            
            <h5>February 09, 2022</h5>
            <h1>Single blog heading/name here</h1>
            <h5>Category name <span>-</span> Author name</h5>


            <div class="row">
                <div class="col-12">
                    <div class="featured-image">
                        <img src="../../../assets/blog1.png">
                    </div>
                    <div class="blog-text py-md-5 py-3 text-left">
                        <p>Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Aenean nec aliquet enim. Donec at dapibus enim. Integer et tur is vel turpis vehi cula mattis. Class aptent taciti
                        Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Aenean nec aliquet enim. Donec at dapibus enim. Integer et tur is vel turpis vehi cula mattis. Class aptent taciti
                        Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Aenean nec aliquet enim. Donec at dapibus enim. Integer et tur is vel turpis vehi cula mattis. Class aptent taciti
                        Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Aenean nec aliquet enim. Donec at dapibus enim. Integer et tur is vel turpis vehi cula mattis. Class aptent taciti
                        Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Aenean nec aliquet enim. Donec at dapibus enim. Integer et tur is vel turpis vehi cula mattis. Class aptent taciti
                        Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Aenean nec aliquet enim. Donec at dapibus enim. Integer et tur is vel turpis vehi cula mattis. Class aptent taciti</p>
    
                    </div>
                </div>
            </div>


        </div>



        <div class="col-12 col-md-3 sidebar">
            
       <app-sidebar></app-sidebar>

        </div>
    </div>
</div>