@media(min-width:768px)
{
    

    .main-slider h1 {
        font-size: 60px;
        font-weight: 500;
        line-height: 72px;
        letter-spacing: -.64px;
    }

    .picsum-img-wrapper > * {
        width: 49%;
    }
    .main-slider .col-12 {
        padding: 0;
    }
    .picsum-img-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .picsum-img-wrapper img {
        min-height: 500px;
        object-fit: cover;
        border-radius: 50px;
    }
 
}



.home-image img {
    width: 100%;
}