   <!-- Open positions starts -->
   <div class="container pb-5 pt-md-5 mb-md-5">
    <div class="row text-center justify-content-center mb-5">
        <div class="col-12 col-md-10">
            <h1>Open Positions</h1>
        </div>
    </div>
<!-- Repetable Row -->
    <div class="row justify-content-between align-items-end job-listing">
       <div class="col-12 col-md-8 job-details">
        <h3>Lead Solution Architect - ERPNext/Frappe</h3>
        <p>We are looking for talented professionals who want to challenge themselves, delight our customers, and have a deep desire to learn and implement new methods, and technologies and bring digital awareness across our ecosystem of products.</p>
       </div> 

       <div class="col-12 col-md-3 apply-btn text-right">
        <a href="#">Apply Now</a>
       </div> 
    </div>
<!-- Repetable Row -->


<!-- Repetable Row -->
<div class="row justify-content-between align-items-end job-listing">
    <div class="col-12 col-md-8 job-details">
     <h3>Business Analyst</h3>
     <p>We are looking for talented professionals who want to challenge themselves, delight our customers, and have a deep desire to learn and implement new methods, and technologies and bring digital awareness across our ecosystem of products.</p>
    </div> 

    <div class="col-12 col-md-3 apply-btn text-right">
     <a href="#">Apply Now</a>
    </div> 
 </div>
<!-- Repetable Row -->

</div>
  <!-- Open positions starts -->