 <!-- partners -->
 <div class="partners-section text-center pt-5">
  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 pt-md-5 mb-5">
                <div class="partner-intro">
                    <h3>Vendor Partner</h3>
                    <p>Empower your decisions and drive growth with our robust data analytics tools for sales, inventory, and payments</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p1.png">
            </div>
            </div>


            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p2.png">
            </div>

            </div>
            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p3.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p4.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p5.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p6.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p7.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p8.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p9.png">                
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p10.png">
            </div>

            </div>

            <div class="col-4 col-md-2 my-3 p-3 partner-col">
<div class="col-inner">
                <img src="assets/p11.png">
                </div>
            </div>

            
        </div>
    </div>
  </div>
 <!-- partners -->
 

 <!-- Credit Partner -->

 <div class="container mt-5 pt-md-5 credit-partner">
    <div class="row justify-content-center">
        <div class="col-8 pt-5 mb-3">
            <div class="partner-intro">
                <h3>Credit Partner</h3>
                <p>By offering flexible payment options, we can convert more browsers into buyers, ultimately increasing sales.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4 col-md-3 my-3 p-3">
            <img src="assets/credit.png">
        </div>
    </div>
 </div>

 <!-- Credit Partner -->



 <!-- Credit Partner -->

 <div class="container mt-5 pt-md-5 credit-partner">
    <div class="row justify-content-center">
        <div class="col-8 pt-5 mb-3">
            <div class="partner-intro">
                <h3>Coming Soon</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-between faded partner-intro my-5 py-md-5">
        <div class="col-12 col-md-5 my-3 text-center">
            <h3>3 PL Partner</h3>
            <p>By outsourcing logistics to a 3PL, vendors can focus on their business’s core competencies and strategic objectives, rather than getting bogged down in logistics operations.</p>
        </div>

        <div class="col-12 col-md-5 my-3 text-center">
            <h3>Credit Patners</h3>
            <p>By outsourcing logistics to a 3PL, vendors can focus on their business’s core competencies and strategic objectives, rather than getting bogged down in logistics operations.</p>
        </div>
    </div>
 </div>

 <!-- Credit Partner -->
  
