 <!-- partners -->
 <div class="partners-section text-center pt-5">
  
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Partnering for Success and Innovation</h1>
        </div>
    </div>
</div>

  <!-- partners Starts -->


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 pt-5">
                <div class="partner-intro">
                    <h3>Brand & Enterprise Partners</h3>
                    <p>Our Brand and Enterprise Partners are the backbone of Qwipo's dynamic marketplace. Some of the leading enterprises leveraged the Qwipo offering, bringing in a diverse and high-quality product selection that caters to the needs of every retailer. Partnering with us means gaining access to a wider audience, innovative tools, and seamless support to boost your sales and brand visibility.</p>
                </div>
            </div>
        </div>

   
        <!-- Brands starts starts -->
<div class="brand-section mt-2">
    <div class="brand-container mb-5">
      <div class="brand-row container">
        <swiper-container
          class="row align-items-center mySwiper"
          slides-per-view="6"
          space-between="20"
          speed="2000"
          loop="true"
          autoplay="true"
          navigation="false"
          pagination="false"
          scrollbar="false"
        >
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand1.png" />
            </div>
          </swiper-slide>
  
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand2.png" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand3.png" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand4.webp" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand5.png" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand1.png" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand2.png" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand3.png" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand4.webp" />
            </div>
          </swiper-slide>
          <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
            ><div class="inner-brand">
              <img src="assets/brand5.png" />
            </div>
          </swiper-slide>
        </swiper-container>
        <div class="row mt-3">
            <div class="col-12">
                <a href="#" class="primary-btn">Become a Vendor Partner                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Brands starts ends -->

 </div>

  <!-- partners End -->


  
  <!-- partners Starts -->


  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 pt-5">
            <div class="partner-intro">
                <h3>Credit Partners</h3>
                <p>Our Credit Partners play a pivotal role in empowering businesses with financial flexibility and stability. With our credit solutions, retailers can manage cash flow better and sustain their inventory without disruptions. Together with our credit partners, we are committed to fostering growth and resilience in the retail ecosystem.                </p>
            </div>
        </div>
    </div>


    <!-- Brands starts starts -->
<div class="brand-section mt-2">
<div class="brand-container mb-5">
  <div class="brand-row container">
    <swiper-container
      class="row align-items-center mySwiper"
      slides-per-view="6"
      space-between="20"
      speed="2000"
      loop="true"
      autoplay="true"
      navigation="false"
      pagination="false"
      scrollbar="false"
    >
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>

      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/brand2.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.webp" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/credit.png" />
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="row mt-3">
        <div class="col-12">
            <a href="#" class="primary-btn">Join as a Credit Partner            </a>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Brands starts ends -->

</div>

<!-- partners End -->




  <!-- partners Starts -->


  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 pt-5">
            <div class="partner-intro">
                <h3>3PL Partners</h3>
                <p>Efficiency in logistics is crucial for the success of any marketplace, and our 3PL Partners help us achieve just that. By working with leading logistics providers, we offer fast, reliable, and hassle-free shipping solutions. Partner with us to drive your business growth by streamlining delivery processes and enhancing customer satisfaction.                </p>
            </div>
        </div>
    </div>


    <!-- Brands starts starts -->
<div class="brand-section mt-2">
<div class="brand-container mb-5">
  <div class="brand-row container">
    <swiper-container
      class="row align-items-center mySwiper"
      slides-per-view="6"
      space-between="20"
      speed="2000"
      loop="true"
      autoplay="true"
      navigation="false"
      pagination="false"
      scrollbar="false"
    >
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>

      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="row mt-3">
        <div class="col-12">
            <a href="#" class="primary-btn">Partner in Logistics            </a>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Brands starts ends -->

</div>

<!-- partners End -->


 <!-- partners Starts -->


 <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 pt-5">
            <div class="partner-intro">
                <h3>Payment Gateway Partners                </h3>
                <p>Qwipo provides a comprehensive range of financial services to ensure seamless transactions for your business. These gateways support various payment methods, including UPI, NEFT, credit card, and debit card services, offering flexibility and convenience for your customers. Whether you're processing large-scale payments or handling everyday transactions, our partners' robust and secure solutions cater to all your needs.
                </p>
            </div>
        </div>
    </div>


    <!-- Brands starts starts -->
<div class="brand-section mt-2">
<div class="brand-container mb-5">
  <div class="brand-row container">
    <swiper-container
      class="row align-items-center mySwiper"
      slides-per-view="6"
      space-between="20"
      speed="2000"
      loop="true"
      autoplay="true"
      navigation="false"
      pagination="false"
      scrollbar="false"
    >
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>

      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
      <swiper-slide class="col-6 col-md-2 col-lg-2 brand-col"
        ><div class="inner-brand">
          <img src="assets/logo.png" />
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="row mt-3">
        <div class="col-12">
            <a href="#" class="primary-btn">Join as a Gateway Partner</a>
        </div>
    </div>

  </div>
</div>
</div>

<!-- Brands starts ends -->

</div>

<!-- partners End -->

</div>
 

  
