.partner-intro h3 {
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 15px;
}
.partner-intro p {
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
}
.faded {
    color: #979797;
}
.credit-partner img, .partners-section img {
    max-width: 100%;
}

