
 
 <!-- Empower section starts -->
  <div class="team-section mt-5 pt-md-5">
      <div class="container">
          <div class="row align-items-center my-5 mobile-column-reverse">
              <div class="col-12 col-md-6 col-lg-6 career-text">
                <h6>WORK WITH US</h6>
              <h1 class=" pb-3">We Hire Qualified & Skilled People. Join Us.</h1>
              <p>We're looking for qualified, enthusiastic, and talented people who can work to their full potential. Explore here for your dream career!!</p>
            <a href="#positions">See open positions</a> 
            </div>

             <div class="col-12 col-md-6 col-lg-6 career-image">
                <img src="assets/career.png" class="img-responsive"> 
               </div>
          </div>
      </div>
  </div>
      <!-- Empower section ends -->



   
<!-- Open positions -->
 <app-open-positions    ></app-open-positions>
<!-- Open positions -->


