
 
 <!-- Empower section starts -->
  <div class="empower-section  text-center mt-5 pt-md-5">
      <div class="container">
          <div class="row justify-content-center mb-5">
              <div class="col-12 col-md-6 col-lg-6 ">
              <h1 class=" pb-3">We Hire Qualified & Skilled People. Join Us.</h1>
              <p>We're looking for qualified, enthusiastic, and talented people who can work to their full potential. Explore here for your dream career!!</p>
              <img src="assets/career.png" class="img-responsive my-4"> 
          </div>
          </div>
      </div>
  </div>
      <!-- Empower section ends -->



   
<!-- Open positions -->
 <app-open-positions></app-open-positions>
<!-- Open positions -->


