<app-main-slider></app-main-slider>


<!-- Brands starts starts -->
<app-brands></app-brands>
<!-- Brands starts ends -->



  <!-- Empower section starts -->
  <div class="empower-section  text-center">
      <div class="container">
          <div class="row justify-content-center mb-5">
              <div class="col-12 col-md-9 col-lg-10 border-top-1 pt-5">
              <h1 class="pt-5 pb-3">Empowering local suppliers and vendors with cutting-edge technology for boundless growth.</h1>
              <p>At  QWIPO's e-commerce digital marketplace, showcase your brand and products to thousands of retailers seeking to replenish their inventory. Expand your sales territory and streamline your day-to-day operations with our platform's leading-edge technology. </p>
              <img src="assets/empower.png" class="img-responsive my-4"> 
              <p>From ensuring order management to streamlining logistics and enhancing price transparency, we leverage the latest innovations to revolutionize the industry. Join us and unlock new opportunities for your business to thrive in the competitive market.
              </p>   
          </div>
          </div>

          <div class="row justify-content-center py-md-5 my-md-5 speciality">
              <div class="col-12 col-sm-3 text-center">
                  <h1>20000+</h1>
              <h4>Combined no of buyers and sellers</h4>
          </div>

          <div class="col-12 col-sm-3 text-center">
              <h1>100+</h1>
              <h4>No. of brands</h4>
          </div>

          <div class="col-12 col-sm-3 text-center">
              <h1>40000+</h1>
              <h4>No. of products</h4>
          </div>
          </div>
      </div>
  </div>
      <!-- Empower section ends -->


<!-- Need section starts-->
<div class="need-section my-5 py-md-5">
  <div class=" text-center pb-md-5">
      <h1>Everything you need, all in one place.</h1>
      <h4>Features list below</h4>
      </div>

<div class="container my-5">
      <div class="row align-items-start">
          <div class="col-12 col-sm-4">
              <div class="need-col mb-4">
                  <img src="assets/agree1.png" class="img-responsive">
                  <h3>Increased Visibility</h3>
                  <p>
                      <small>Gain increased visibility which allows you to connect with a broader audience and reinforce your presence. 
                      </small>
                  </p>
              </div>

              <div class="need-col">
                  <img src="assets/agree2.png" class="img-responsive">
                  <h3>Transparent Payments</h3>
                  <p>
                      <small>We guarantee transparency and efficiency across all payment gateways, ensuring quick and secure transactions. Our Buy Now, Pay Later (BNPL) option enhances customer engagement</small>
                  </p>
              </div>

          </div>

          <div class="col-12 col-sm-4  text-center middle-need-col">
              <div class="need-col text-center">
                  <h3>Efficient Logistics</h3>
                  <p>
                      <small>Tech-driven logistics aid in optimized routes, thus ensuring timely deliveries.</small>
                  </p>
                  <img src="assets/agree3.png" class="img-responsive">

              </div>
          </div>

          <div class="col-12 col-sm-4">
              <div class="need-col mb-4">
                  <img src="assets/agree4.png" class="img-responsive">
                  <h3>24/7 Customer Support</h3>
                  <p>
                      <small>Our round-the-clock customer service is here to support you anytime. Got a question or need assistance? We've got you covered 24/7.</small>
                  </p>
              </div>

              <div class="need-col">
                  <img src="assets/agree5.png" class="img-responsive">
                  <h3>Streamlined Operations</h3>
                  <p>
                      <small>We empower you with the necessary tools and infrastructure for managing orders, payments, and customer service.</small>
                  </p>
              </div>
          </div>
      </div>
  </div>
  </div>
<!-- Need section ends-->

<!-- Testimonials section start -->
<app-users-thoughts></app-users-thoughts>
<!-- Testimonials section ends -->


<!-- Media showcase starts -->
<app-media-showcase></app-media-showcase>
  <!-- Media showcase ends -->

