<app-main-slider></app-main-slider>

<!-- Brands starts starts -->
<app-brands></app-brands>
<!-- Brands starts ends -->

<!-- Empower section starts -->
<div class="empower-section">
  <div class="container pb-md-5">
    <div class="row justify-content-center pb-5 align-items-center">
      <div class="col-12 col-md-9 col-lg-10 border-top-1 pt-md-5 text-center mb-5">
        <h1 class="pt-5 pb-3 ">
          Empowering local suppliers and vendors with cutting-edge technology
          for boundless growth.
        </h1>
      
      </div>

      <div class="col-12 col-md-6">
        <img src="assets/main_img.png" class="img-responsive my-4" />

      </div>

      <div class="col-12 col-md-5 about-desc">
        <h3 class="mb-3">
            At  QWIPO's e-commerce digital marketplace, showcase your brand and
            products to thousands of retailers seeking to replenish their
            inventory. Expand your sales territory and streamline your day-to-day
            operations with our platform's leading-edge technology. 
        </h3>
        <p>
            From ensuring order management to streamlining logistics and enhancing
            price transparency, we leverage the latest innovations to
            revolutionize the industry. Join us and unlock new opportunities for
            your business to thrive in the competitive market.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="counter-section section">
    <div class="container">
  <div class="row justify-content-center py-md-5 speciality">
    <div class="col-12 col-sm-3">
      <div class="inner-counter">
        <img src="assets/users.png" />
        <h1>20K +</h1>
        <p>Buyers and <br class="d-none md-block"> sellers</p>
      </div>
    </div>

    <div class="col-12 col-sm-4 border-lr">
      <div class="inner-counter">
        <img src="assets/branding.png" />
        <h1>100 +</h1>
        <p>No. of <br class="d-none md-block"> brands</p>
      </div>
    </div>

    <div class="col-12 col-sm-3">
      <div class="inner-counter">
        <img src="assets/product.png" />
        <h1>40K +</h1>
        <p>No. of <br class="d-none md-block">products</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Empower section ends -->

<!-- Need section starts-->
<div class="need-section mb-5 py-md-5">
  <div class="text-center pb-md-5">
    <h6>FEATURES</h6>
    <h1>Everything you need, all in one place.</h1>
    <h4>Features list below</h4>
  </div>

  <div class="container my-5">
    <div class="row align-items-start need-row justify-content-center">
      <div class="col-12 col-sm-3">
        <div class="need-col mb-3">
          <h3>Increased Visibility</h3>
          <div class="separator"><div class="separator-dash"></div></div>

          <img src="assets/map.gif" class="img-responsive" />
          <p>
            <small
              >Gain increased visibility which allows you to connect with a
              broader audience and reinforce your presence. 
            </small>
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-3 active">
        <div class="need-col">
          <h3>Efficient Logistics</h3>
          <div class="separator"><div class="separator-dash"></div></div>
          <img src="assets/truck.gif" class="img-responsive" />
          <p>
            <small
              >Tech-driven logistics aid in optimized routes, thus ensuring
              timely deliveries.</small
            >
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="need-col mb-4">
          <h3>24/7 Customer Support</h3>
          <div class="separator"><div class="separator-dash"></div></div>
          <img src="assets/customer-support.gif" class="img-responsive" />
          <p>
            <small
              >Our round-the-clock customer service is here to support you
              anytime. Got a question or need assistance? We've got you covered
              24/7.</small
            >
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-start need-row justify-content-center mt-md-5">
      <div class="col-12 col-sm-3">
        <div class="need-col">
          <h3>Streamlined Operations</h3>
          <div class="separator"><div class="separator-dash"></div></div>
          <img src="assets/dashboard.gif" class="img-responsive" />
          <p>
            <small
              >We empower you with the necessary tools and infrastructure for
              managing orders, payments, and customer service.</small
            >
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="need-col">
          <h3>Transparent Payments</h3>
          <div class="separator"><div class="separator-dash"></div></div>
          <img src="assets/credit-card.gif" class="img-responsive" />
          <p>
            <small
              >We guarantee transparency and efficiency across all payment
              gateways, ensuring quick and secure transactions. Our Buy Now, Pay
              Later (BNPL) option enhances customer engagement</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Need section ends-->

<!-- Testimonials section start -->
<app-users-thoughts></app-users-thoughts>
<!-- Testimonials section ends -->
