
.counter-section {
    background-color: #f4f9f8;
}

.inner-counter p {
    text-align: left;
    color: #060815;
    font-family: outfit, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .16px;
}

.inner-counter h1 {
    color: #060815;
    font-family: outfit, Sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -.64px;
}
.inner-counter {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.inner-counter img {
    width: 100%;
    max-width: 80px;
}

.about-desc h3 {
    font-weight: 400;
}

.about-desc p {
    color: #6b6b6b;
    font-size: 18px;
}