<!-- Testimonials section start -->
<div class="testionials-section text-left  mb-5 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="title">
                    <h1>Thoughts by our users</h1>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="testimonial-col">
                    <img src="assets/testimonial1.png">
                    <h3>Naveen Kumar</h3>
                    <p class="post">Bharath KGS- Ghatkesar</p>
                    <p>I beceame a loyal customer of QWIPO owing to its fine supply of my business needs at optimum market price, doorstep delivery, and cast catalogue of products to choose from. I can assure you that having QWIPO App has changed my life for good as I order everything my shop needs from this which saves a lot of time for me to focus on my business and family.</p>
                </div>
            </div>
  
            <div class="col-12 col-sm-4">
                <div class="testimonial-col">
                    <img src="assets/testimonial2.png">
                    <h3>Naresh</h3>
                    <p class="post">MVR Kirana and General</p>
                    <p>Mr. Naresh says “procurement seemed like a mystery during the first lockdwon that was imposed country-wide in 2020, that was when i got to know about QWIPO App. Because of QWIPO, I could serve my customers without any hick-ips since then.</p>
                </div>
            </div>
  
            <div class="col-12 col-sm-4">
                <div class="testimonial-col">
                    <img src="assets/testimonial3.png">
                    <h3>Rajaram</h3>
                    <p class="post">MVR Kirana and General</p>
                    <p>"Before QWIPO, navigating procurement during 2019.  QWIPO became my anchor, providing stability and keeping my business afloat. Ever since, they've ensured seamless deliveries, allowing me to focus on what matters most -  my customers." </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Testimonials section ends -->
  