  <!-- Empower section starts -->
  <div class="empower-section  text-center">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-10 col-lg-10 pt-5 text-center">
            <h1 class="pt-5 pb-3">“Empower Your Business with Cutting-Edge Technology and Stay Ahead of the Curve"</h1>
            <p>Supercharge your sales, productivity, and efficiency with our user-friendly app, putting advanced technology at your fingertips. Connect with thousands of customers effortlessly and unlock your business's full potential today </p>
        </div>
        </div>

 
    </div>
</div>
    <!-- Empower section ends -->



    <!-- Application section -->

    <div class="container application-section mt-5 pt-md-5">
       
        <div class="row justify-content-between align-items-center my-5">
            <div class="col-12 col-md-6 phone-desc">
                <h1>Vendor Application</h1>
                <p>The vendor App enables you to control your entire business from anywhere. Track your payments from customers, sales, inventory, returns, top-selling products, and more. Exploit upselling and cross-selling opportunities, run primary and secondary pricing schemes, and get competitive market insights and insights for the right pricing strategy.</p>
                <a href="#">Learn more</a>  

            </div>

            <div class="col-12 col-md-3 phone-image">
                <img src="assets/phone1.png">
            </div>
            
        </div>


 
        <div class="row justify-content-between align-items-center my-5">
           
           
            <div class="col-12 col-md-3 phone-image">
                <img src="assets/phone2.png">
            </div>
            <div class="col-12 col-md-6 phone-desc">
                <h1>Customer Application</h1>
                <p>This app aids retailers, with access to a vast product range, AI-driven recommendations, digital payments, credit options, demand forecasting, and more, retailers can streamline operations effortlessly, enhancing efficiency and convenience.</p>
                <a href="#">Learn more</a>  

            </div>

            
        </div>


         
        <div class="row justify-content-between align-items-center my-5">
            <div class="col-12 col-md-6 phone-desc">
                <h1>FA Application</h1>
                <p>QWIPO's smart technology calculates ideal loads and routes for delivery vans using real-time traffic data, saving time, and fuel, and reducing carbon emissions.</p>
                <a href="#">Learn more</a>  

            </div>

            <div class="col-12 col-md-3 phone-image">
                <img src="assets/phone3.png">
            </div>
            
        </div>


         
        <div class="row justify-content-between align-items-center my-5">
            
            
            <div class="col-12 col-md-3 phone-image">
                <img src="assets/phone4.png">
            </div>
            <div class="col-12 col-md-6 phone-desc">
                <h1>Sales aid App</h1>
                <p>QWIPO empowers salespeople to place orders, suggest products, and oversee schemes anytime, anywhere.</p>
                <a href="#">Learn more</a>  

            </div>

            
        </div>

    </div>

    <!-- Application section -->


    <!-- Solution Section -->

<div class="container solution-section py-md-5">
    <div class="row my-5 py-0 py-md-5 justify-content-center">
        <div class="col-12 col-md-11 text-center">
            <h1>One Solution, Endless Benefits: Unleash the Power of Unlimited Potential!
            </h1>
        </div>
    </div>
</div>


<div class="container solution-points mb-5 pb-md-5">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="solution-wrap">
                <img src="assets/solution1.png">
                <h4>3PL</h4>
                <p>By outsourcing logistics to a 3PL, vendors can focus on their business’s core competencies and strategic objectives, rather than getting bogged down in logistics operations.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="solution-wrap">
                <img src="assets/solution2.png">
                <h4>BNPL</h4>
                <p>By offering flexible payment options, we can convert more browsers into buyers, ultimately increasing sales.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="solution-wrap">
                <img src="assets/solution3.png">
                <h4>Conquer Multiple Marketplaces</h4>
                <p>Expand your visibility across multiple marketplaces and grow your customer base effortlessly with us.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="solution-wrap">
                <img src="assets/solution4.png">
                <h4>Data Analytics</h4>
                <p>Empower your decisions and drive growth with our robust data analytics tools for sales, inventory, and payments</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="solution-wrap">
                <img src="assets/solution5.png">
                <h4>Accounting Software</h4>
                <p>Automates tasks like invoicing, expense tracking, and reconciliation, saving time and reducing errors.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="solution-wrap">
                <img src="assets/solution6.png">
                <h4>CRM</h4>
                <p>CRM streamlines operations for enhanced inventory management, superior customer service, and boosted sales.</p>
            </div>
        </div>
    </div>
</div>
    <!-- Solution Section -->