<!-- Contact Form section stars -->
<div class="container contact-container py-3 mb-5">
    <div class="row align-items-center justify-content-between ">
        <div class="col-12 col-md-5 contact-details  pt-md-0 pt-3">
            <div class="contact-heading">
            <h1>We're Here to Help You Succeed
            </h1>
            <p>Have questions or need support? Our dedicated team is ready to assist you. Reach out to us for any inquiries, feedback, or assistance, and let's work together to achieve your business goals.
            </p>
            <img src="assets/contact-img.png" class="mt-5"> 
        </div>

        </div>

        <div class="col-12 col-md-6 contact-form-main pt-md-0 p-md-5 mt-5 mt-md-0">
            <div class="contact-form">
                <div class="contact-form-title d-flex align-items-center justify-content-between">
  
            <h4>Get in touch with us</h4>
               <small>(* required)</small> 
                                 
            </div>
            <form>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label>
                            <input type="text" name="" placeholder="Your first name *" required>
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <label>
                            <input type="text" name="" placeholder="Your last name *" required>
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <label>
                            <input type="mail" name="" placeholder="Enter email address *" required>
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <label>
                            <input type="tel" name="" placeholder="Enter phone number *" required>
                        </label>
                    </div>

                    <div class="col-12">
                        <label>
                            <textarea placeholder="Write your messge"></textarea>
                        </label>
                    </div>

                    <div class="col-12 submit-button">
                        <input type="submit" value="Send message">
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>


    <div class="container pt-2 pb-5 mb-md-5">
<div class="row justify-content-md-between justify-content-sm-center">


    <div class="col-11 col-md-4 contact-box ">
        <div class="contact-box-inner">
            <div class="contact-title">
                <img src="assets/location-contact-us.png"> <h4>Mail Us</h4>
            </div>
            <div class="contact-info">
                <p>Building, Street name, city, state, country , zip </p>
            </div>
        </div>
        
    </div>

    <div class="col-11 col-md-4 contact-box">
        <div class="contact-box-inner">
            <div class="contact-title">
                <img src="assets/mail-contact-us.png"> <h4>Contact Now</h4>
            </div>
            <div class="contact-info">
                <p>+91 0000000000 </p>
            </div>
        </div>
        
    </div>

    <div class="col-11 col-md-4 contact-box">
        <div class="contact-box-inner">
            <div class="contact-title">
                <img src="assets/call-contact-us.png"> <h4>Office Address</h4>
            </div>
            <div class="contact-info">
                <p>info&#64;qwipo.com</p>
            </div>
        </div>
        
    </div>

</div>
</div>

<!-- Contact Form section end -->


