  <!-- Contact section starts -->
  <div class="container contact-title">
    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-4 col-lg-4 pt-5 text-center">
        <h1 class="pb-3">Contact Us</h1>
        <img src="assets/contacct.png">
    </div>
    </div>
</div>
<!-- Contact section ends -->

<!-- Contact Form section stars -->
<div class="container contact-container mb-5">
    <div class="row align-items-center justify-content-between ">
        <div class="col-12 col-md-5 contact-details">
            <div class="contact-heading">
            <h3>Contact Us</h3>
            <p>Say something to start a live chat!</p>
        </div>

        <div class="contact-detail">
            <ul>
                <li>
                    <img src="assets/phone.png"> <span>+1012 3456 789</span>
                </li>
                <li>
                    <img src="assets/mail.png"> <span>demo&#64;gmail.com</span>
                </li>
                <li>
                    <img src="assets/location.png"> <span>132tes</span>
                </li>
            </ul>
        </div>
        </div>

        <div class="col-12 col-md-7 contact-form p-md-5 mt-5 mt-md-0">
            <form>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label>
                            First Name
                            <input type="text" name="" placeholder="Your first name">
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <label>
                            Last Name
                            <input type="text" name="" placeholder="Your last name">
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <label>
                            Email
                            <input type="mail" name="" placeholder="Enter email address">
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <label>
                            Phone Number
                            <input type="tel" name="" placeholder="Enter phone number">
                        </label>
                    </div>

                    <div class="col-12">
                        <label>
                            Subject
                            <input type="tel" name="" placeholder="Enter subject">
                        </label>
                    </div>

                    <div class="col-12">
                        <label>
                            Message
                            <input type="tel" name="" placeholder="Write your messge">
                        </label>
                    </div>

                    <div class="col-12 submit-button">
                        <input type="submit" value="Send message">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><br><br><br>
<!-- Contact Form section end -->


