.contact-title img {
    width: 100%;
}

.contact-details h1
{
font-weight: 500;
text-transform: capitalize;
letter-spacing: -.04px;
color: #060815;
}
.contact-form {
    box-shadow: 0px 33px 54px 0px rgba(8.000000000000002, 30.999999999999993, 67, .17);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 13px;
    margin-bottom: 0;
    padding: 50px 50px 65px;
    background-color: #fff;
    border-radius: 20px;
}
.contact-details img
{
    width: 100%;
}

.contact-details p {
    font-weight: 400;
    text-align: left;
    color: #6b6b6b;
}


.contact-form label input {
    color: #333;
}
.contact-form label input::placeholder, .contact-form label textarea::placeholder {
    color: #989898;
    font-size: 17px;
}
.contact-form label input {
    width: 100%;
    background: none;
    border-bottom: 2px solid #e5e5e5 !important;
    border: 0;
    min-height: 55px;
    margin-bottom: 26px;
    font-size: 17px;

}
.contact-form label {
    font-size: 15.96px;
    font-weight: 500;
    line-height: 26.6px;
    text-align: left;
    color: #8D8D8D;
    display: block;
}
.contact-form label textarea {
width: 100%;
background: none;
border-bottom: 2px solid #e5e5e5 !important;
border: 0;
min-height: 72px;
margin-bottom: 26px;
font-size: 17px;
color: #8D8D8D;
}

.contact-form h4
{

font-weight: 500;
letter-spacing: -.04px;
color: #060815;
}

.submit-button {
    text-align: right;
}

input[type="submit"] {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 400;
    padding: 16px 35px;
    border: none;
    background: #242879;
    border-radius: 50px;
    text-transform: capitalize;
    transition: all .3s ease-in-out !important;
    -webkit-transition: all .3s ease-in-out;
    text-align: center;
}


.contact-box {
    box-shadow: 0px 20px 55px 0px rgba(3.0000000000000053, 31.0000000000001, 72, .15);
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-image: url(../../../assets/bg01.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 265px;
    background-size: cover;
    background-position: bottom;
    border-radius: 69px 0;

}

.contact-box:nth-child(2) {

    background-image: url(../../../assets/bg02.png);

}

.contact-box:nth-child(3) {
    background-image: url(../../../assets/bg03.png);

}
.contact-box-inner {
    position: relative;
}

.contact-info {
    font-size: 18px;
    color: #6b6b6b;
    position: absolute;
    bottom: 0;
    top: 187px;
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}
.contact-box-inner {
    padding: 35px;
    display: block;
}

.contact-title h4 {
    margin-bottom: 0;
}
.contact-title img {
    width: 100%;
    max-width: 30px;
}
.contact-title {
    display: flex;
    align-items: center;
    column-gap: 18px;
    justify-content: center;
    position: relative;
    top: 8px;
}


@media(min-width:1601px)
{
    .contact-title h4 {
        font-size: 24px;
    }
    .contact-details h1
    {
    font-size: 60px;
    line-height: 72px;
    }
    .contact-form h4
{

font-size: 30px;
line-height: 38px;
}
.contact-title img {
    max-width: 50px;
}
}

@media(min-width:768px)
{
.contact-box {
    width: 29%;
}
}