 <!-- Challanges -->
  <div class="challanges-section text-center mt--md-5 pt-5">
    <h1>Challanges</h1>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-md-4 challange-col">
                <div class="image-box">
                    <img src="assets/challange1.png" class="w-90">
                    <p>Intense competition with established vendors</p>
                </div>
            </div>

            <div class="col-12 col-md-4 challange-col">
                <div class="image-box">
                    <img src="assets/challange2.png" class="w-90">
                    <p>Limited technology and tools for streamlining processes</p>
                </div>
            </div>

            <div class="col-12 col-md-4 challange-col">
                <div class="image-box">
                    <img src="assets/challange3.png" class="w-90">
                    <p>Insufficient resources for sales and marketing management</p>
                </div>
            </div>

            <div class="col-12 col-md-4 challange-col">
                <div class="image-box">
                    <img src="assets/challange4.png" class="w-90">
                    <p>Delivery and fulfilment complications and hurdles in logistics</p>
                </div>
            </div>

            <div class="col-12 col-md-4 challange-col">
                <div class="image-box">
                    <img src="assets/challange5.png" class="w-90">
                    <p>Cash flow management issues and difficulty in accessing affordable credit.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-4 challange-col">
                <div class="image-box">
                    <img src="assets/challange6.png" class="w-90">
                    <p>Lack of dedicated resources for managing business operations.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
 <!-- Challanges -->
 
 <!-- Empower section starts -->
  <div class="empower-section  text-center">
      <div class="container">
          <div class="row justify-content-center mb-5">
              <div class="col-12 col-md-9 col-lg-10 ">
              <h1 class=" pb-3">"Breaking barriers and empowering local vendors with transformative solutions."</h1>
              <p>QWIPO is a B2B retail marketplace, where we empower local wholesalers, distributors, and white-label manufacturers to soar to new heights. By seamlessly connecting them with a wider customer base, boosting sales, and unlocking invaluable business prospects, we revolutionize the playing field while championing transparent pricing. </p>
              <img src="assets/about.png" class="img-responsive my-4"> 
              <p>With our unwavering logistical support, round-the-clock customer service, and seamless payment processes, we're committed to propelling your success journey forward. Join us today and witness the transformation firsthand.
              </p>   
          </div>
          </div>
      </div>
  </div>
      <!-- Empower section ends -->



<!-- team section start -->
<div class="team-section  mb-5  py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="title mb-4 text-center ">
                    <h1>Meet our team</h1>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team1.png">
                    <h3>SIVA MORISETTI
                    </h3>
                    <p class="post">Co-Founder and CEO</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team2.png">
                    <h3>SIVA MAMIDI</h3>
                    <p class="post">Co-Founder and CTO/COO</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team3.png">
                    <h3>PRIYA DARISINI</h3>
                    <p class="post">
                        CFO Advisor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team4.png">
                    <h3>MANISH ANAND
                        
                    </h3>
                    <p class="post">Advisor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team5.png">
                    <h3>GHANIM EID BIN WOGAYEH</h3>
                    <p class="post">Advisor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team6.png">
                    <h3>KUMAR BABU VANAPALLI</h3>
                    <p class="post">Advisor</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team7.png">
                    <h3>KARUMURI KIRAN KUMAR
                        </h3>
                    <p class="post">Manager - Operations</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team8.png">
                    <h3>KONDA RAMESH KUMAR
                       </h3>
                    <p class="post"> Manager - Procurement</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="team-col">
                    <img src="assets/team9.png">
                    <h3>VENKAT RAO UPPUTURI
                        </h3>
                    <p class="post">Manager - Sales</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
  

        </div>
    </div>
  </div>
  <!-- team section ends -->
  
