<!-- Challanges -->
<div class="about-section">
  <div class="container">
    <div class="row mt-5 text-center justify-content-center">
      <div class="col-12 col-sm-10">
        <h1 class="mb-3">Built for the <del>Indian</del> Emerging Markets</h1>
        <p>
          The Indian e-commerce market is one of the fastest growing in the
          world, with its volume projected to surpass US$100 billion by 2029.
          Major online marketplaces are likely to be the biggest beneficiaries
          of this growth, with an ever-increasing number of business retailers
          and consumers ordering their supplies online. We at Qwipo foresaw this
          opportunity several years ago and launched the Qwipo marketplace in
          2018. While our platform caters to almost every vertical that a
          business retailer may stock, the online grocery market has become one
          of our main focus areas because it is the fastest-growing segment in
          the e-commerce space. With e-commerce becoming mainstream, we’re
          providing a purpose-built platform to traditional vendors and
          retailers who are constantly asking themselves: how do we remain
          competitive?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="chllanges-title container mt-5 pt-md-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 text-center">
      <h1>
        The Key Challenges Facing SMEs, Micro Enterprises, and Food & Grocery
        Retailers
      </h1>
      <p>
        Prime suppliers, manufacturers, wholesalers, small retailers, and Kirana
        stores must digitally empower themselves to maintain and expand their
        market foothold. With e-marketplaces becoming an unstoppable trend,
        simply owning a website no longer suffices. Even established brands now
        leverage mega e-commerce platforms for promotion and business
        operations.
      </p>
    </div>
  </div>
</div>

<div class="challanges-section text-center">
  <div class="container mt-md-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange1.png" class="w-90" />
          <p>Intense competition with large e-commerce platforms</p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange2.png" class="w-90" />
          <p>Limited technology and tools for streamlining processes</p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange3.png" class="w-90" />
          <p>Insufficient resources for sales and marketing management</p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange4.png" class="w-90" />
          <p>Delivery and fulfillment complications and hurdles in logistics</p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange5.png" class="w-90" />
          <p>
            Cash flow management issues and difficulty in accessing affordable
            credit
          </p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange6.png" class="w-90" />
          <p>Lack of dedicated resources for managing business operations</p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange7.png" class="w-90" />
          <p>
            Trust deficit in quality, usability, warranties, and safety of
            products
          </p>
        </div>
      </div>

      <div class="col-12 col-md-3 challange-col">
        <div class="image-box">
          <img src="assets/challange8.png" class="w-90" />
          <p>
            Transactional challenges such as price transparency and multi-geo
            sourcing
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Challanges -->

<!-- Empower section starts -->
<div class="empower-section py-md-5">
  <div class="container pt-5">
    <div class="row justify-content-center mb-5 align-items-center">
      <div class="col-12 col-md-6">
        <h6>WHO WE ARE?</h6>
        <h1 class="pb-2">Crafting the Solution</h1>
        <p>
          Enter Qwipo, a ubiquitous digital marketplace specializing in the
          delivery of groceries and business essentials, including staples and
          FMCG goods. We embarked on our journey by putting together a vendor
          fulfillment tech solution, which was initially a significant
          challenge. By becoming a supplier in a specific geographical area, we
          thoroughly understood the nuances of the trade and the entire supply
          chain.
        </p>
        <p>
          Now, we offer a refined tech solution, ensuring premium quality
          products by sourcing directly from reliable suppliers through our
          network of prime wholesalers and manufacturers. Our decentralized
          distribution system provides an extensive product catalog, versatile
          pricing, and multiple vendor options.
        </p>
        <p>
          Qwipo's advanced technology delivers a seamless and transparent
          experience for all business users, empowering you to thrive in a
          competitive market. Unlock the potential of your retail business with
          Qwipo and embrace a future where innovation leads to success. Contact
          us today to get started!
        </p>
        <button routerLink="#" class="primary-btn">Reach Out to Us</button>
      </div>
      <div class="col-12 col-md-6">
        <img src="assets/about.jpg" class="img-responsive my-4" />
      </div>
    </div>
  </div>
</div>
<!-- Empower section ends -->

<!-- team section start -->
<div class="team-section mb-5 py-md-5">
  <div class="container">
    <div class="row align-items-center justify-content-between mb-5">
      <div class="col-12 text-center">
        <div class="title">
          <h1>The Qwipo Team</h1>
        </div>
      </div>

    </div>

    <div class="row team-row justify-content-center">
      <div class="col-12 col-sm-2 mb-md-5">
        <div class="team-col">
            <div class="team-image">
          <img
            src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
          />
          <div class="social-info">
            <a href="#"><img src="../../../assets/linkedin (1).png"></a>
        </div>
    </div>
          <h3>SIVA MORISETTI</h3>
          <p class="post">Co-Founder and CEO</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>SIVA MAMIDI</h3>
          <p class="post">Co-Founder and CTO/COO</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>PRIYA DARISINI</h3>
          <p class="post">CFO Advisor</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>MANISH ANAND</h3>
          <p class="post">Advisor</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>GHANIM EID BIN WOGAYEH</h3>
          <p class="post">Advisor</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>KUMAR BABU VANAPALLI</h3>
          <p class="post">Advisor</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>KARUMURI KIRAN KUMAR</h3>
          <p class="post">Manager - Operations</p>
        </div>
      </div>

      <div class="col-12 col-sm-2 mb-3">
        <div class="team-col">
            <div class="team-image">
                <img
                  src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
                />
                <div class="social-info">
                  <a href="#"><img src="../../../assets/linkedin (1).png"></a>
              </div>
          </div>
          <h3>KONDA RAMESH KUMAR</h3>
          <p class="post">Manager - Procurement</p>
        </div>
      </div>

      <!-- <div class="col-12 col-sm-2 mb-3">
                <div class="team-col">
  <div class="team-image">
          <img
            src="https://i.pinimg.com/736x/c7/68/ba/c768baca8eb33036c331ba4730643258.jpg"
          />
          <div class="social-info">
            <a href="#"><img src="../../../assets/linkedin (1).png"></a>
        </div>
    </div>                    <h3>VENKAT RAO UPPUTURI
                        </h3>
                    <p class="post">Manager - Sales</p>
                </div>
            </div> -->
    </div>
  </div>
</div>
<!-- team section ends -->
