@media(min-width:1180px) and (max-width:1599px)
{
body ul.navbar-nav li a {
    font-size: 16px;
    line-height: 20.11px;
}
}
ul.navbar-nav li a
{
    font-family: Outfit;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;  
    text-decoration: none;
  
}

@media(min-width:1600px)
{
    ul.navbar-nav li a
{
    font-size: 18px;
    font-weight: 500;
    line-height: 29.11px;
}
   
}

ul.navbar-nav li {
    margin-left: 42px;
}

.logo-wrap img {
    max-width: 133px;
    height: auto;
}


ul.navbar-nav {
    display: flex;
    align-items: center;
}

.consult span {
    color: #b97aee;
    position: relative;
    top: -4px;
}

ul.navbar-nav .consult 
{
    text-align: right !important;
}

.inner-pc p a {
    text-decoration: none;
}
.inner-pc p img {
    margin-right: 10px;
}
.inner-pc p {
    margin-bottom: 10px;
}

.inner-pc img {
    filter: brightness(0.5);
}

.ham-btn img {
    width: 40px;
}