
<header class="desk_header">
    <div class="main-header">
        <ng-template #content let-offcanvas>
            <div class="offcanvas-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav setNav left-nav">
                            
                    <li> <a href="/"class="header-link">Home
                     </a> </li>
                    <li> <a href="/about-us">
                         About Us </a> </li>
                    <li> <a href="/blog" class="header-link">
                     Blogs </a> </li>
                     <li> <a href="/services" class="header-link">
                     Services </a> </li>
                     <li> <a href="/career" class="header-link">
                     Career </a> </li>
                     <li> <a href="/partners"  class="header-link ">
                         Partners </a> </li>
                     <li> <a href="/contact-us" class="header-link">
                     Contact Us </a> </li>
                  
             </ul>
            </div>
        </ng-template>
        <nav class="navbar  navbar-expand-lg navbar-dark">


            <div class="container-fluid px-3 py-2 px-md-5 py-md-5 mobile-menu-btn">
            <div class="logo-wrap">
               <a href="index.html"><img src="assets/logo.png" alt="Logo" ></a>
            </div>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false"
                    aria-label="Toggle navigation" (click)="open(content)">
                    <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="offcanvas offcanvas-start desk_header_menu " id="navbarOffcanvas" tabindex="-1"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body ms-auto">
                        <ul class="navbar-nav setNav left-nav">
                            
							   <li> <a href="/"class="header-link">Home
                                </a> </li>
                               <li> <a href="/about-us">
                                    About Us </a> </li>
                               <li> <a href="/blog" class="header-link">
                                Blogs </a> </li>
                                <li> <a href="/services" class="header-link">
                                Services </a> </li>
                                <li> <a href="/career" class="header-link">
                                Career </a> </li>
                                <li> <a href="/partners"  class="header-link ">
                                    Partners </a> </li>
                                <li> <a href="/contact-us" class="header-link">
                                Contact Us </a> </li>
                             
                        </ul>
                    
                    </div>
                </div>

               
            </div>

        
        </nav>
    </div>

    </header>

    <!--:: Header Ends ::-->
