@media(min-width:1180px) and (max-width:1599px)
{
body ul.navbar-nav li a {
    font-size: 16px;
    line-height: 20.11px;
}
}
ul.navbar-nav li a
{
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;  
    text-decoration: none;
  
}

@media(min-width:1600px)
{
    ul.navbar-nav li a
{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.11px;
}
   
}

ul.navbar-nav li {
    margin-left: 42px;
}

.logo-wrap img {
    max-width: 133px;
    height: auto;
}


