ul.navbar-nav li a
{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.11px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;  
    text-decoration: none;
  
}

ul.navbar-nav li {
    margin-left: 42px;
}

.logo-wrap img {
    max-width: 133px;
    height: auto;
}

