<div class="footer-section">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12 col-sm-3 about-footer">
                <h2>QWIPO</h2>
                <small>Your go-to B2B marketplace revolutionizing the grocery and FMCG industry</small>
            </div>

            <div class="col-12 col-sm-2">
                <p>Company</p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Servics</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-3">
                <p>Support Us</p>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help center</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Updates</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-4">
                <p>Address</p>
                <small>
                    Corporate Office: <br>Divyasree Trinity<br>Isprout Co-working Space,<br>7th Floor, A-Wing<br>Plot No.5, at Hitech City Layout,<br>Survey No 64(Part) Madhapur Village,<br>Serilingampally Mandal, R R District.<br>Hyderabad Telangana, 500081
                </small>

                <div class="social-wrap">
                    <ul class="d-flex mt-4">
                        <li>
                            <a href="#"><img src="assets/twitter.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/facebook.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/linkedin.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/youtube.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/instagram.png"></a>
                        </li>
                    </ul>
                </div>
            </div>

          
        </div>
        <div class="row pt-5 bottom-footer mt-5">
            <div class="col-12  text-center">
                <small>© 2023 Newsify. All rights reserved  &nbsp; &nbsp;   |  &nbsp; &nbsp;    Cookie Settings, Anti-Spam, Privacy, User agreement, Legal Notice and Responsible Disclosure</small>
            </div>
        </div>
    </div>
</div>