    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-10 col-lg-10 pt-5 text-center">
            <h1 class="pb-3">Stay Ahead with Qwipo’s Experts</h1>
            <p>
                Dive into the latest industry insights, trends, and expert advice to keep your business at the forefront of innovation. Explore our blog for valuable strategies and updates that can fuel your growth and success.
                </p>
        </div>
        </div>
</div>



    <!-- blog Section -->


<div class="container blog-points mt-5 mb-5 pb-md-5 ">
    <div class="row justify-content-between">

        <div class="col-12 col-md-9">

            <div class="row">

                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="blog-wrap">
                        <img src="assets/blog1.png">
                        <div class="post-meta">
                            <span class="date">February 22, 2022</span>
                            </div>
                        <div class="blog-meta">
                        <h4>What are the growth strategies for FMCG?</h4>
                        <p>FMCGs are Fast Moving Consumer Goods. These are the daily-use consumables that are sold quickly and must be replenished regularly. </p>
                        <a href="/single-post">Read More</a>
                    </div>
                    </div>
                </div>
        
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="blog-wrap">
                        <img src="assets/blog2.png">
                        <div class="post-meta">
                            <span class="date">February 22, 2022</span>
                            </div>
                        <div class="blog-meta">
                        <h4>How to Get into the FMCG and Retail Sales Industry?</h4>
                        <p>FMCG, often known as Consumer Packaged Products (CPG), is intensely competitive and moves quickly within the retail industry.</p>
                        <a href="/single-post">Read More</a>
                    </div>
                    </div>
                </div>
        
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="blog-wrap">
                        <img src="assets/blog3.png">
                        <div class="post-meta">
                            <span class="date">February 22, 2022</span>
                            </div>
                        <div class="blog-meta">
                        <h4>Maximizing Revenue By Filling Empty Miles with B2B Grocery Suppliers</h4>
                        <p>The opportunity costs of robbing retailers of gasoline, time, money, and underused miles are immense. </p>
                        <a href="/single-post">Read More</a>
                    </div>
                    </div>
                </div>
        
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="blog-wrap">
                        <img src="assets/blog4.png">
                        <div class="post-meta">
                            <span class="date">February 22, 2022</span>
                            </div>
                        <div class="blog-meta">
                        <h4>B2B grocery: How suppliers evolve their E-Commerce infrastructure</h4>
                        <p>Because buying wholesale groceries online has become an ingrained habit of many customers.</p>
                        <a href="/single-post">Read More</a>
                    </div>
                    </div>
                </div>
        
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="blog-wrap">
                        <img src="assets/blog5.png">
                        <div class="post-meta">
                            <span class="date">February 22, 2022</span>
                            </div>
                        <div class="blog-meta">
                        <h4>Revolutionize Your Grocery Business with These Easy-peasy Tips on the Marketplace</h4>
                        <p>Grocery retailing is undergoing tremendous change.</p>
                        <a href="/single-post">Read More</a>
                    </div>
                    </div>
                </div>
        
                <div class="col-12 col-md-4 mb-3 mb-md-5">
                    <div class="blog-wrap">
                        <img src="assets/blog6.png">
                        <div class="post-meta">
                            <span class="date">February 22, 2022</span>
                            </div>
                        <div class="blog-meta">
                        <h4>What are the growth strategies for FMCG?</h4>
                        <p>FMCGs are Fast Moving Consumer Goods. These are the daily-use consumables that are sold quickly and must be replenished regularly. </p>
                        <a href="/single-post">Read More</a>
                    </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-12 col-md-3">
       <app-sidebar></app-sidebar>
        </div>

        

       

     
    </div>
</div>
    <!-- blog Section -->